* {
  padding: 0%;
  margin: 0%;
}

/* Container should be good */
.container {
  background-color: black;
  height: 100vh;
  width: 100vw;
  position: absolute;

}

/* should be good */
.mainContainer {
  width: 70vw;
  height: 80vh;
  background-color: azure;
  position: absolute;
  top: 10vh;
  left: 15vw;
  right: 15vw;
}
/* should be good */
.left {
  background-color: rgb(31, 31, 221);
  position: absolute;
  width: 30vw;
  height: 60vh;
  
}


/* should be good */
.image {
  width: 25vw;
  height: 80vh;
  position: absolute;
}

/* should be good */
#sideImage {
  width: 30vw;
  height: 80vh;
  position: absolute;
}

/* Should be good */

.sideCover {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  width: 30vw;
  position: absolute;
  top: 150px;
  height: 100px;
  background-color: #4e4e4e;
  color: aqua;
  opacity: 50%;
}

.right {
 
  position: relative;
  background-color: #4e4e4e;
  width: 40vw;
  left: 30vw;
  height: 80vh;
}

.forms {
  position: absolute;
  background-color: white;
  width: 40vw;
  top: 33vh;
  height: 20vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  
  
}

.form-label {
  font-size: large;
  padding: 5px;
}  
  

  
 
.form-input {
  display: block;
  width: 175px;
  height: 25px;
  
}
  

  
 
  

  
 
  
  





/* input:invalid {
  border: 2px solid red;
}

input:invalid:required {
  border: 2px solid red;
}

input:valid {
  border: 2px solid rgb(6, 255, 6);
} */


