* {
  padding: 0%;
  margin: 0%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Container should be good */
.container {
  background-color: black;
  height: 100vh;
  width: 100vw;
}

/* should be good */
.mainContainer {
  padding-top: 10vh;
  padding-left: 15vw;
  padding-right: 15vw;
  width: 70vw;
  height: 80%;
  background-color: rgb(0, 0, 0);
  display: flex;
}
/* image and image cover  */
.left {
  background-color: rgb(31, 31, 221);

  width: 30vw;
  height: 80vh;
}

.image {
  position: relative;
  width: 25vw;
  height: 80vh;
}

#sideImage {
  width: 30vw;
  height: 80vh;
}

.sideCover {
  position: absolute;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  width: 30vw;
  background-color: #4e4e4e;
  color: aqua;
  opacity: 50%;
}
/* only work under this for now */
.right {
  flex: 5;
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right > p {
  font-size: 1.4rem;
  margin-left: var(--left-space);
  font-weight: bold;
  max-width: 80%;
  margin-bottom: 8px;
  margin-left: 15px;
}

.right p:first-child {
  margin-top: 0;
  margin-left: 15px;
}

.input-selection {
  color: black;
  background-color: white;
  margin-top: 32px;
  padding-top: 16px;

  padding-bottom: 16px;
  padding-left: var(--left-space);
  box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.1);
}

.input-selection > div {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 15px;
  margin-bottom: 18px;
}

.input-selection label {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1px;
}

.input-selection form {
  
  border: 1px solid #dbbad3;
  border-radius: 4px;
  padding: 4px 8px;
  width: 100%;
  font-size: 1rem;
  margin-right: 32px;
  margin-left: 15px;
}

input {
  border: none;
  width: 80%;
  height: 20px;
  margin-left: 15px;
}

.inputs label {
  display: block;
  width: 80%;
  
}

.right h3 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 24px;
  margin-left: 15px;
}

/* input:invalid {
  border: 1px red;
  animation-direction: alternate;
}

input:valid {
  border: 2px solid rgb(6, 255, 6);
} */
